<!doctype html>
<head>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <title>Picker</title>
  <div class=page>
    <h1>Pick a Format</h1>
    <div class="tab">
      <button class="tablinks" onclick="switchTab(event, 'Giphy')" >Giphy</button>
      <button class="tablinks" onclick="switchTab(event, 'Facebook')">Facebook</button>
      <button class="tablinks" onclick="switchTab(event, 'Twitter')">Twitter</button>
    </div>

    <div id="Giphy" class="tabcontent">
      <h3>Giphy</h3>
      <p>Is the best.</p>
    </div>

    <div id="Facebook" class="tabcontent">
      <h3>Facebook</h3>
      <p>Isn't the best.</p> 
    </div>

    <div id="Twitter" class="tabcontent">
      <h3>Twitter</h3>
      <p>Is pretty cool.</p>
    </div>

    <script src="../static/tabs.js"></script>
  </div>
</body>